# config for myems_system_db
# - myems-mysql  → Docker
# - 127.0.0.1    → localhost
MYEMS_HOST=myems-mysql
MYEMS_PORT=3306
MYEMS_USER=root
MYEMS_PASSWORD=!MyEMS1

MYEMS_SYSTEM_DB_HOST=${MYEMS_HOST}
MYEMS_SYSTEM_DB_PORT=${MYEMS_PORT}
MYEMS_SYSTEM_DB_DATABASE=myems_system_db
MYEMS_SYSTEM_DB_USER=${MYEMS_USER}
MYEMS_SYSTEM_DB_PASSWORD=${MYEMS_PASSWORD}

# config for myems_historical_db
MYEMS_HISTORICAL_DB_HOST=${MYEMS_HOST}
MYEMS_HISTORICAL_DB_PORT=${MYEMS_PORT}
MYEMS_HISTORICAL_DB_DATABASE=myems_historical_db
MYEMS_HISTORICAL_DB_USER=${MYEMS_USER}
MYEMS_HISTORICAL_DB_PASSWORD=${MYEMS_PASSWORD}

# config for myems_energy_db
MYEMS_ENERGY_DB_HOST=${MYEMS_HOST}
MYEMS_ENERGY_DB_PORT=${MYEMS_PORT}
MYEMS_ENERGY_DB_DATABASE=myems_energy_db
MYEMS_ENERGY_DB_USER=${MYEMS_USER}
MYEMS_ENERGY_DB_PASSWORD=${MYEMS_PASSWORD}

# indicates in how many minutes to normalize energy consumption
# 30 for half hourly
# 60 for hourly
MINUTES_TO_COUNT=60

# indicates within how many minutes to allow myems-cleaning service to clean the historical data
MINUTES_TO_CLEAN=30

# indicates from when (in UTC timezone) to calculate if the energy data is empty or were cleared
# format string: "%Y-%m-%d %H:%M:%S"
START_DATETIME_UTC="2023-12-31 16:00:00"

# indicates the project's time zone offset from UTC
UTC_OFFSET=+08:00

# the number of worker processes in parallel for meter and virtual meter
# the pool size depends on the computing performance of the database server and the analysis server
POOL_SIZE=5